---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Programador Back End",
    company: "IT Academy",
    description:
      "Trabajando con diferentes tecnologías para ofrecer soluciones óptimas",
    link: "https://github.com/EnriqueArranz",
  },
  {
    date: "Actualmente...",
    title: "Data Analyst",
    company: "Konecta",
    description:
      "Desarrollo de modelos de pronóstico basados en datos históricos y aportes del cliente para el volumen de llamadas y otras variables como AHT, SL, NDA, etc.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
